<h1>User Login</h1>
<br />
<br />
<form name="loginForm" [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()" novalidate
  class="example-form">

  <mat-error *ngIf="errorMessage != ''">
    {{ errorMessage }}
  </mat-error>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="User Name" formControlName="userName" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" formControlName="password" required>
  </mat-form-field>

  <div class="example-full-width">
    <!-- [disabled]="!loginForm.valid" -->
    <button mat-raised-button color="primary">Login</button>
  </div>

</form>