/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Provide sufficient contrast against white background */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.warning{
    background-color: orange !important;
  }
  
  .success{
    background-color: green !important;
  }
